<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Uffda Signup" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Uffda Signup" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "framework_and_overrides", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    </header>
       <%= render 'layouts/messages' %>
       <%= yield %>
    <footer>
      <%#=  render 'layouts/navigation' %>
    </footer>	
  </body>
</html>
